<a href="https://colab.research.google.com/github/mfmarlonferrari/tcc2020recommender/blob/main/KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dataset_filmes = pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Recommendation_complete_tutorial/master/KNN%20Movie%20Recommendation/movies.csv')
dataset_filmes = dataset_filmes[['movieId','title']]

In [ ]:
dataset_filmes.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [ ]:
dataset_ratings = pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Recommendation_complete_tutorial/master/KNN%20Movie%20Recommendation/ratings.csv')
dataset_ratings = dataset_ratings[['userId','movieId','rating']]

In [ ]:
dataset_ratings.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [ ]:
dataset = pd.merge(dataset_filmes, dataset_ratings,on='movieId')

In [ ]:
dataset.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       1     4.0
1        1  Toy Story (1995)       5     4.0
2        1  Toy Story (1995)       7     4.5
3        1  Toy Story (1995)      15     2.5
4        1  Toy Story (1995)      17     4.5

In [ ]:
movies_features = dataset.pivot_table(index='userId', columns='title', values='rating').fillna(0)

In [ ]:
movies_features.head()

title   '71 (2014)  ...  À nous la liberté (Freedom for Us) (1931)
userId              ...
1              0.0  ...                                        0.0
2              0.0  ...                                        0.0
3              0.0  ...                                        0.0
4              0.0  ...                                        0.0
5              0.0  ...                                        0.0

[5 rows x 9719 columns]

In [ ]:
movies_features.shape

(610, 9719)

In [ ]:
from sklearn.neighbors import NearestNeighbors

modelo = NearestNeighbors(metric='cosine', n_neighbors=3)
modelo.fit(movies_features)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                 radius=1.0)

In [ ]:
posicao_usuario = 230

distancia, indices_vizinhos = modelo.kneighbors(movies_features.loc[230].values.reshape(1,-1), n_neighbors=3)

In [ ]:
usuario = movies_features.index[posicao_usuario]

for i in range(0, len(distancia.flatten())):
  if i==0:
    print('Recomendando para o usuário {0}:\n'.format(usuario))
  else:
    print('Recomendado vizinho: {0} com distância de {1}'.format(movies_features.index[indices_vizinhos.flatten()[i]], distancia.flatten()[i]))

Recomendando para o usuário 231:

Recomendado vizinho: 239 com distância de 0.6018480770501349
Recomendado vizinho: 220 com distância de 0.619424788394539

In [ ]:
recomendante = movies_features.loc[usuario].to_frame()

In [ ]:
recomendante

                                           231
title
'71 (2014)                                 0.0
'Hellboy': The Seeds of Creation (2004)    0.0
'Round Midnight (1986)                     0.0
'Salem's Lot (2004)                        0.0
'Til There Was You (1997)                  0.0
...                                        ...
eXistenZ (1999)                            0.0
xXx (2002)                                 0.0
xXx: State of the Union (2005)             0.0
¡Three Amigos! (1986)                      0.0
À nous la liberté (Freedom for Us) (1931)  0.0

[9719 rows x 1 columns]