<a href="https://colab.research.google.com/github/mfmarlonferrari/tcc2020recommender/blob/main/KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#https://pypi.org/project/mysql-connector/
!pip install mysql-connector flask-ngrok

Requirement already satisfied: mysql-connector in /usr/local/lib/python3.6/dist-packages (2.2.9)
Requirement already satisfied: flask-ngrok in /usr/local/lib/python3.6/dist-packages (0.0.25)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from flask-ngrok) (2.23.0)
Requirement already satisfied: Flask>=0.8 in /usr/local/lib/python3.6/dist-packages (from flask-ngrok) (1.1.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->flask-ngrok) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->flask-ngrok) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->flask-ngrok) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->flask-ngrok) (1.24.3)
Requirement already satisfied: Jinja2>=2.10.1 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.8->flask-ngrok) (2.11.2)
Requirement already satisfied: click>=5.1 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.8->flask-ngrok) (7.1.2)
Requirement already satisfied: Werkzeug>=0.15 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.8->flask-ngrok) (1.0.1)
Requirement already satisfied: itsdangerous>=0.24 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.8->flask-ngrok) (1.1.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2>=2.10.1->Flask>=0.8->flask-ngrok) (1.1.1)

In [7]:
import pandas as pd
import mysql.connector

Conexão com a base de Dados transacional

In [148]:
host="database-1.c6nlhkjxpqnn.sa-east-1.rds.amazonaws.com"
port=3306
dbname="DB_TCC"
user="admin"
password="admin123"

conn = mysql.connector.connect(user=user, password=password,
                              host=host,
                              database=dbname)

cur = conn.cursor()

cur.execute('select * from questions')
dados = cur.fetchall()
dataset = pd.DataFrame(dados, columns=['ID', 'USUARIO', 'LIVRO', 'TITULO', 'RATING','D1','D2'])[['USUARIO','LIVRO','TITULO','RATING']]
dataset.head(5)

   USUARIO    LIVRO                                             TITULO  RATING
0        1  4071158                        O Menino do Pijama Listrado       5
1        2  2595026                                 O Pequeno Príncipe       5
2        2    87263                                        O Alienista       5
3        4  3484606  Harry Potter e a Pedra Filosofal (Harry Potter...       5
4        4    72196  Harry Potter e a Câmara Secreta (Harry Potter,...       5

In [149]:
dataset.shape

(38, 4)

In [154]:
movies_features = dataset.pivot_table(index='USUARIO', columns='TITULO', values='RATING').fillna(0)
movies_features.head()

TITULO   A Batalha do Labirinto (Percy Jackson e os Olimpianos, #4)  ...  Viagem ao Centro da Terra
USUARIO                                                              ...
1                                                      5.0           ...                        0.0
2                                                      0.0           ...                        0.0
3                                                      0.0           ...                        0.0
4                                                      0.0           ...                        0.0
5                                                      0.0           ...                        0.0

[5 rows x 33 columns]

In [155]:
from sklearn.neighbors import NearestNeighbors

modelo = NearestNeighbors(metric='cosine', n_neighbors=3)
modelo.fit(movies_features)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                 radius=1.0)

In [156]:
id_usuario = 4

distancia, indices_vizinhos = modelo.kneighbors(movies_features.loc[id_usuario].values.reshape(1,-1), n_neighbors=4)

In [157]:
for i in range(0, len(distancia.flatten())):
  if i==0:
    print('Recomendando para o usuário {0}:\n'.format(id_usuario))
  elif movies_features.index[indices_vizinhos.flatten()[i]] != id_usuario:
    print('Recomendado vizinho: {0} com distância de {1}'.format(movies_features.index[indices_vizinhos.flatten()[i]], distancia.flatten()[i]))

Recomendando para o usuário 4:

Recomendado vizinho: 3 com distância de 0.7123633432461501
Recomendado vizinho: 1 com distância de 0.7785441652280276
Recomendado vizinho: 5 com distância de 1.0

In [158]:
id_recomendado = movies_features.index[indices_vizinhos.flatten()][1]

In [159]:
base = movies_features.loc[id_usuario].to_frame()
recomendado = movies_features.loc[id_recomendado].to_frame()

In [160]:
novos_titulos = pd.merge(base,recomendado,on='TITULO',how='inner')
novos_titulos = novos_titulos[(novos_titulos[id_recomendado] > 0) & (novos_titulos[id_usuario] == 0)].reset_index()
novos_titulos

                                              TITULO    4    3
0  Data Science para negócios: O que você precisa...  0.0  5.0

In [1]:
!pip install flask-ngrok

Collecting flask-ngrok
  Downloading https://files.pythonhosted.org/packages/af/6c/f54cb686ad1129e27d125d182f90f52b32f284e6c8df58c1bae54fa1adbc/flask_ngrok-0.0.25-py3-none-any.whl
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from flask-ngrok) (2.23.0)
Requirement already satisfied: Flask>=0.8 in /usr/local/lib/python3.6/dist-packages (from flask-ngrok) (1.1.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->flask-ngrok) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->flask-ngrok) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->flask-ngrok) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->flask-ngrok) (1.24.3)
Requirement already satisfied: Werkzeug>=0.15 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.8->flask-ngrok) (1.0.1)
Requirement already satisfied: itsdangerous>=0.24 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.8->flask-ngrok) (1.1.0)
Requirement already satisfied: click>=5.1 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.8->flask-ngrok) (7.1.2)
Requirement already satisfied: Jinja2>=2.10.1 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.8->flask-ngrok) (2.11.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2>=2.10.1->Flask>=0.8->flask-ngrok) (1.1.1)
Installing collected packages: flask-ngrok
Successfully installed flask-ngrok-0.0.25

In [12]:
from flask_ngrok import run_with_ngrok
from flask import Flask
app = Flask(__name__)
run_with_ngrok(app)   #starts ngrok when the app is run
@app.route("/")
def recomendar(idUsuario):
    return "<h1>Running Flask on Google Colab!</h1>"
  
app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

 * Running on http://f4cc4f26e7a1.ngrok.io
 * Traffic stats available on http://127.0.0.1:4040

127.0.0.1 - - [25/Oct/2020 17:14:16] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [25/Oct/2020 17:14:16] "GET /favicon.ico HTTP/1.1" 404 -